@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.neutral.800');
  background-color: theme('colors.neutral.100');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
